/* ===== Start: Google Fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* ===== End: Google Fonts ===== */

/* ===== Start: Reset CSS Default Styling ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== End: Reset CSS Default Styling ===== */
