/* ===== Start: Google Fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* ===== End: Google Fonts ===== */

/* ===== Start: Reset CSS Default Styling ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== End: Reset CSS Default Styling ===== */
/* ===== Start: Theme variable ===== */
:root {
  --primary-color: #4e47ff;
  --secondary-color: #252432;
  --secondary-text-color: rgba(37, 36, 50, 0.5);
}
/* ===== End: Theme variable ===== */
body {
  background-color: #f5f8ff;
}
/* ===== Start: Same Styling ===== */

/* ===== Start: Button Style ===== */
a {
  text-decoration: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: #2d26ff;
  transform: scale(0.9);
}
/* ===== End: Button Style ===== */
/* ===== Start: Fonts Style ===== */

.inter-font {
  font-family: "Inter", sans-serif;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
}
/* ===== End: Fonts Style ===== */

/* ===== Start: Text Center ===== */
.text-center {
  text-align: center;
}
/* ===== End: Text Center ===== */
/* ===== End: Same Styling ===== */

/* ===== Start: Header Section ===== */
header {
  background: url(../Assets/Hero-bg.png);
  padding-top: 50px;
  height: 700px;
}

/* ===== Start: Navbar ===== */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
header nav .logo {
  font-size: 34px;
  font-weight: 900;
  color: var(--primary-color);
  letter-spacing: 1.3px;
}
/* ===== End: Navbar ===== */

/* ===== Start: Header Content ===== */
header .header-content {
  max-width: 900px;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .header-content .header-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 40px;
}
/* ===== End: Header Content ===== */
/* ===== End: Header Section ===== */

/* ===== Start: Main Section ===== */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* ===== Start: Action Section ===== */
main .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 0;
}

main .action .action-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  max-width: 530px;
}

main .action .action-content .action-title {
  font-size: 42px;
  font-weight: bold;
}
main .action .action-content .action-description {
  font-size: 1.5rem;
  --secondary-color: #252432;
  color: var(--secondary-text-color);
}
main .action .action-img {
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* ===== End: Action Section ===== */

/* ===== Start: Productive User Data ===== */
main .productive-users {
  /* max-width: 1140px; */
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 1.5rem;
  padding: 50px 80px;
  margin-bottom: 8.5rem;
}

main .productive-users .productive-title {
  font-size: 38px;
  font-weight: bold;
  --secondary-color: #252432;
  color: var(--secondary-color);
  margin-bottom: 40px;
}
main .productive-users .users-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .productive-users .users-data .data-title {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: bold;
}

main .productive-users .users-data .data-subtitle {
  font-size: 18px;
  color: var(--secondary-text-color);
}
/* ===== End: Productive User Data ===== */

/* ===== Start: Users Feedback Section ===== */
.user-feedback {
  margin-bottom: 137px;
}
main .user-feedback .feedback-title {
  font-size: 42px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 50px;
}
main .user-feedback .feedback-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main .user-feedback .feedback-cards .card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #f2eded;
  border-radius: 14px;
  border: 1px solid #f2eded;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .user-feedback .feedback-cards .card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
main .user-feedback .feedback-cards .card .card-content .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

main .user-feedback .feedback-cards .card .card-content .card-subtilte {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

main .user-feedback .feedback-cards .card .user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .user-feedback .feedback-cards .card .user-details .user-name {
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
  color: #757575;
}
main .user-feedback .feedback-cards .card .user-details .review-data {
  color: var(--secondary-text-color);
}

main .user-feedback .feedback-cards .card .user-details .user-img {
  border-radius: 50%;
}
/* ===== End: Users Feedback Section ===== */

/* ===== Start: Focus Section ===== */
main .focus {
  margin: 0 auto;
  padding: 4.45rem 9.375rem;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 7rem;
}

main .focus .focus-title {
  font-size: 3.125rem;
  font-weight: bold;
}

main .focus .focus-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}
main .focus .focus-btn {
  font-weight: 600;
}
main .focus .webflow-big-img {
  max-width: 840px;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* ===== End: Focus Section ===== */

/* ===== Start: Get In Touch Section ===== */
main .getIn-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.375rem 0;
}

main .getIn-touch .touch-title {
  font-size: 6.25rem;
  font-weight: bold;
  max-width: 528px;
}
main .getIn-touch form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

main .getIn-touch form .form-item {
  display: flex;
  flex-direction: column;
}

main .getIn-touch form .form-item label {
  font-size: 1.1rem;
  font-weight: 600;
}
main .getIn-touch form .form-item input[type="text"],
main .getIn-touch form .form-item input[type="email"],
main .getIn-touch form .form-item textarea {
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  border: none;
  margin-top: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 450px;
}

main .getIn-touch form input[type="submit"] {
  font-weight: 600;
}

main .getIn-touch form input:focus,
main .getIn-touch form textarea:focus {
  outline: 2px solid var(--primary-color);
}
/* ===== End: Get In Touch Section ===== */
/* ===== End: Main Section ===== */

/* ===== Start: Footer Section ===== */
footer {
  padding: 6.25rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .footer-content {
  max-width: 531px;
}
footer .logo {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: var(--primary-color);
}

footer .footer-description {
  color: var(--secondary-text-color);
  font-weight: 600;
  line-height: 1.5;
}

footer nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  list-style: none;
}

footer nav ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-text-color);
  position: relative;
  transition: all 0.5s ease;
}

footer nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  bottom: -0.3rem;
  left: 0;
  transition: all 0.5s ease;
}

footer nav ul li a:hover {
  color: var(--secondary-color);
}

footer nav ul li a:hover::after {
  width: 100%;
}

/* ===== End: Footer Section ===== */
