/* ===== Start: Google Fonts ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* ===== End: Google Fonts ===== */

/* ===== Start: Reset CSS Default Styling ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== End: Reset CSS Default Styling ===== */
/* ===== Start: Theme variable ===== */
:root {
  --primary-color: #4e47ff;
  --secondary-color: #252432;
  --secondary-text-color: rgba(37, 36, 50, 0.5);
}
/* ===== End: Theme variable ===== */
body {
  background-color: #f5f8ff;
}
/* ===== Start: Same Styling ===== */

/* ===== Start: Button Style ===== */
a {
  text-decoration: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: #2d26ff;
  transform: scale(0.9);
}
/* ===== End: Button Style ===== */
/* ===== Start: Fonts Style ===== */

.inter-font {
  font-family: "Inter", sans-serif;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
}
/* ===== End: Fonts Style ===== */

/* ===== Start: Text Center ===== */
.text-center {
  text-align: center;
}
/* ===== End: Text Center ===== */
/* ===== End: Same Styling ===== */

/* ===== Start: Header Section ===== */
header {
  background: url(../Assets/Hero-bg.png);
  padding-top: 50px;
  height: 700px;
}

/* ===== Start: Navbar ===== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
nav .logo {
  font-size: 34px;
  font-weight: 900;
  color: var(--primary-color);
  letter-spacing: 1.3px;
}
/* ===== End: Navbar ===== */

/* ===== Start: Header Content ===== */
.header-content {
  max-width: 900px;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 40px;
}
/* ===== End: Header Content ===== */
/* ===== End: Header Section ===== */

/* ===== Start: Main Section ===== */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* ===== Start: Action Section ===== */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 0;
}

.action-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  max-width: 530px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
}
.action-description {
  font-size: 1.5rem;
  --secondary-color: #252432;
  color: var(--secondary-text-color);
}
.action-img {
  border-radius: 48px;
}
/* ===== End: Action Section ===== */

/* ===== Start: Productive User Data ===== */
main .productive-users {
  /* max-width: 1140px; */
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 1.5rem;
  padding: 50px 80px;
  margin-bottom: 8.5rem;
}

main .productive-users .productive-title {
  font-size: 38px;
  font-weight: bold;
  --secondary-color: #252432;
  color: var(--secondary-color);
  margin-bottom: 40px;
}
main .productive-users .users-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .productive-users .users-data .data-title {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: bold;
}

main .productive-users .users-data .data-subtitle {
  font-size: 18px;
  color: var(--secondary-text-color);
}
/* ===== End: Productive User Data ===== */

/* ===== Start: Users Feedback Section ===== */
.user-feedback {
  margin-bottom: 137px;
}
main .user-feedback .feedback-title {
  font-size: 42px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 50px;
}
main .user-feedback .feedback-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main .user-feedback .feedback-cards .card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #f2eded;
  border-radius: 14px;
  border: 1px solid #f2eded;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .user-feedback .feedback-cards .card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
main .user-feedback .feedback-cards .card .card-content .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

main .user-feedback .feedback-cards .card .card-content .card-subtilte {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

main .user-feedback .feedback-cards .card .user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .user-feedback .feedback-cards .card .user-details .user-name {
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
  color: #757575;
}
main .user-feedback .feedback-cards .card .user-details .review-data {
  color: var(--secondary-text-color);
}

main .user-feedback .feedback-cards .card .user-details .user-img {
  border-radius: 50%;
}

/* ===== Start: Focus Section ===== */
main .focus {
  margin: 0 auto;
  padding: 4.45rem 9.375rem;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 7rem;
}

main .focus .focus-title {
  font-size: 3.125rem;
  font-weight: bold;
}

main .focus .focus-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

main .focus .webflow-big-img {
  max-width: 840px;
  border-radius: 3rem;

}
/* ===== End: Focus Section ===== */
/* ===== End: Users Feedback Section ===== */
/* ===== End: Main Section ===== */
